body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main-header{
  background-color: rgb(17, 17, 49);
  color: #fff;

}

.main-header a{
 color: #fff;
 text-decoration: none;
 text-transform: capitalize;
 transition: all 1s ease;
 padding: 15px;
}
.main-header a:hover{
 color: #806c6c;
}